@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700');

html{
    font-size: 6px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    line-height: 1.33;
    color: #222;
    text-align: center;
}

.text-sm-center,
.text-xs-center {
    text-align: center;
}

.efficiency-nav {
    width: 100%;
    height: 80px;
    background-color: #283139;
}

.container {
    margin-bottom: 4rem;
}


.btn-primary, 
.btn-primary:visited {
    text-align: center;
    padding: 2.2rem 4.3rem;
    background-color: #f7931d;
    color: #fff;
    font-size: 2.2rem;
    border-radius: 0;
    border: 1px solid #f7931d;
    transition: all ease-in-out 300ms;
    white-space: normal;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:focus {
    background-color: #fff;
    color: #f7931d;
    border: 1px solid #f7931d;
    box-shadow: 0px 15px 30px -12px rgba(91, 27, 15, .3);
}

.product-rec-offers ul {
    list-style: none;
    padding: 3rem;
}

.product-rec-offers li {
    margin: 2rem;
    font-size: 1.4rem;
}

.product-rec-offers li:before {
    content: url('../img/checked.svg');
    position: absolute;
    display: inline-block;
    width: 5rem;
    padding: 1.5rem;
    left: 1rem;
    margin-top: -1.5rem;
}



/*   Media Querri's   */

@media screen and ( min-width: 576px ){
    html {
        font-size: 7px;
    }
}

@media screen and ( min-width: 768px ){
    html {
        font-size: 8px;
    }

}

@media screen and ( min-width: 992px ){
    html {
        font-size: 8px;
    }

}

@media screen and ( min-width: 1200px ){

    html {
        font-size: 10px;
    }


}